@import 'variables'; //пишем переменные
@import 'reset'; //сборс стилей
@import 'fonts'; //подключаем шрифты (локально)

body {
  font-family: $first-family;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: $black-color;
}

.container  {
  max-width: 1564px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  @media (max-width: 1600px) {
    max-width: 1320px;
  }
  @media (max-width: 1319px) {
    max-width: 1140px;
  }
  //@media (max-width: 1139px) {
  //  max-width: 992px;
  //}
}

.wrapper {
  @media (max-width: 1600px) {
    position: relative;
  }
}

.title {
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
}

.button--black {
  cursor: pointer;
  display: flex;
  padding: 18px 38px;
  background:
    linear-gradient(273.47deg, #121212 -1.55%, #272727 103.02%)padding-box,
    linear-gradient(to right, #000000, #3A3A3A) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: -8px -8px 10px rgba(255, 255, 255, 0.25), 8px 8px 10px rgba(157, 132, 3, 0.25);
  color: #FAFAFA;
  &:hover {
    background:
      linear-gradient(93.88deg, #FFFFFF -12.68%, #E2E0E0 123.69%)padding-box,
      linear-gradient(to right, #E2E2E2, #FFFFFF) border-box;
    color: $black-color;
  }
}
.discuss-button {
  font-weight: 600;
  line-height: 150%;
  padding: 19.5px 36.5px;
  background: #FFD752;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 224px;
  max-height: 66px;
}
.more-link {
  position: relative;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  width: max-content;
  margin: 0 auto;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: $black-color;
    left: 0;
    bottom: 2px;
  }
}

//Подключаем вендоры
@import "./vendor/slick";
@import "./vendor/slick-theme";

//подключаем БЭМ блоки
@import "blocks/header";
@import "blocks/hero";
@import "blocks/catalog";
@import "blocks/work";
@import "blocks/portfolio";
@import "blocks/reviews";
@import "blocks/audit";
@import "blocks/answers";
@import "blocks/cta";
@import "blocks/footer";
@import "blocks/map";