//.answers
.answers {
  margin-top: 35px;
  margin-bottom: 120px;
  //.answers__title
  &__title {
    margin-bottom: 66px;
  }

  //.answers__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 32px;
  }

  //.answers__item
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    //width: calc(50% - 16px);
    width: 736px;
    padding: 27px 60px 42px 40px;
    border: 2px solid #A4A2A2;
    border-radius: 10px;
    height: max-content;
    //.answers__item-title
    &-title {
      font-weight: 600;
      font-size: 25px;
      line-height: 29px;
      min-height: 58px;
    }

    //.answers__item-text
    &-text {
      line-height: 25px;
      height: 0;
      font-size: 0;
      visibility: hidden;
    }

    //.asnwers__item-icon
    &-icon {
      position: absolute;
      top: 32px;
      right: 32px;
      cursor: pointer;

      &--open {
        transform: rotate(45deg);
      }
    }

    //.answers__item--open
    &--open {
      padding-bottom: 36px;

      & .answers__item-text {
        font-size: 21px;
        height: auto;
        visibility: visible;
      }

      & .answers__item-title {
        margin-bottom: 24px;
      }
    }
  }
}

.answers__title title {
  padding-left: 10px;
}


@media (max-width: 1600px) {
  .answers__list {
    justify-content: center;
  }
  .answers__title {
    text-align: center;
  }
}

.answers__item-title {
  list-style: none;
}

.answers__item-title:before {
  content: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15H30' stroke='%23FFD752' stroke-width='2'/%3E%3Cpath d='M15 30L15 2.38419e-07' stroke='%23FFD752' stroke-width='2'/%3E%3C/svg%3E");
  position: absolute;
  right: 10px;
  margin: -5px 5px 0 0;
  cursor: pointer;
}

details[open] > summary:before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 22.4207L22.9999 1M23 23L1.00012 1.57925' stroke='%23FFD752' stroke-width='2'/%3E%3C/svg%3E");
  //transform: rotate(10deg);
}

//.your-class{
//  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 22.4207L22.9999 1M23 23L1.00012 1.57925' stroke='%23FFD752' stroke-width='2'/%3E%3C/svg%3E");
//}

//.your-class{
//  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 15H30' stroke='%23FFD752' stroke-width='2'/%3E%3Cpath d='M15 30L15 2.38419e-07' stroke='%23FFD752' stroke-width='2'/%3E%3C/svg%3E");
//}

//.test {
//  transition: transform 1s ease;
//}
//.rotate {
//  transform: rotate(180deg);
//}


@media (max-width: 375px) {
  .answers {
    margin-bottom: 0;
  }
  .answers__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  }
  .answers__item .answers__item-title {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
  }
  .answers__item .answers__item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
  }
  .answers__item {
    padding-left: 15px;
    padding-right: 30px;
    margin-left: 29px;
    margin-right: 29px;
    min-height: 60px;
  }
  .answers__item-icon {
    top: 15px;
    right: 15px;
  }
  .answers__title title {
    //padding-top: 31px;
  }
  .answers {
    margin-top: 67px;
  }
  .answers__wrapper .answers__title {
    margin-bottom: 24px;
  }
  .answers__item {
    padding: 13px 30px 0px 8px;
  }
  .answers__list {
    gap: 15px 32px;
  }
  .answers__item {
    padding-right: 70px;
    padding-bottom: 10px;
  }
  //.answers__item-title:before {
  //  height: 5px;
  //}
  .answers__item-title-inner {
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
  }
  .answers__item-title {
    min-height: 10px;
    //padding-top: 10px;
    //padding-bottom: 10px;
  }
  .answers__item-title-inner {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}