//.audit
.audit {
  overflow: hidden;
  position: relative;
  max-height: 1086px;
  background: url('../img/audit/audit-mountain_block.jpg') no-repeat center;
  //background-image: url('../img/audit/mountain_infographics.jpg');
  //background-position: 0 0;
  //background-repeat: no-repeat;
  //background-size: auto 100%;
  //width: auto;
  //.audit__way
  &__way {
    position: absolute;
    left: -216px;
    bottom: 138px;
    z-index: 3;
  }

  //.audit__wrapper
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 1086px;
    margin-left: 100px;
  }

  //.audit__block
  &__block {
    position: absolute;
    //background: url('../img/audit/audit-elipse.png')no-repeat bottom right;
    //.audit__block-title
    &-title {
      font-weight: 600;
      font-size: 21px;
      line-height: 25px;
      color: #FAFAFA;
      //.audit__block-title--yellow
      &--yellow {
        font-family: $secondary-family;
        font-weight: 700;
        font-size: 35px;
        line-height: 150%;
        color: #FFD752;
        padding-right: 10px;
      }
    }

    //.audit__block--top
    &--top {
      top: 43px;
      left: 443px;
      width: 358px;
      height: 82px;
      text-align: center;
      padding-right: 94px;

      & .audit__block-title {
        max-width: 264px;
      }
    }

    //.audit__block--middle
    &--middle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 198px;
      left: 22px;
      width: 540px;
      height: 205px;

      & .audit__block-title {
        max-width: 366px;
      }
    }

    //.audit__block--bottom
    &--bottom {
      width: 552px;
      height: 211px;
      left: -101px;
      top: 411px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    //.audot__block-img
    &-img {
      width: 432px;
      height: 93px;
      margin-left: 22px;
      margin-bottom: 21px;
    }
  }

  //.audit__content
  &__content {
    padding: 40px 53px 50px 50px;
    background: rgba(5, 1, 3, 0.8);
    border-radius: 10px;
    max-width: 786px;
    margin-bottom: 85px;
    //position: relative;
    position: absolute;
    bottom: 217px;
    right: 106px;
    z-index: 5;
    //.about__content-title
    &-title {
      font-weight: 600;
      font-size: 35px;
      line-height: 41px;
      color: #FAFAFA;
      margin-bottom: 30px;
      padding-left: 10px;
      //.about__content-title--yellow
      &--yellow {
        color: #FFD752;

      }
    }

    //.audit__content-text
    &-text {
      color: #FAFAFA;
      margin-bottom: 32px;
    }

    //.audit__content-link
    &-link {
      padding: 18px 27.5px;
      max-width: 217px;
      background: linear-gradient(73.47deg, #FADD49 -1.55%, #F2B720 103.02%) padding-box,
      linear-gradient(to left, #FFE145, #F6BB24) border-box;
      border-radius: 10px;
      border: 2px solid transparent;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      //.audit__content-link:hover
      &:hover {
        filter: drop-shadow(-2px -2px 5px rgba(255, 255, 255, 0.25)) drop-shadow(2px 2px 5px rgba(157, 132, 3, 0.3));
        background: linear-gradient(93.88deg, #FFFFFF -12.68%, #ffffff 123.69%) padding-box,
        linear-gradient(to left, #FFE145, #F6BB24) border-box;
      }
    }
  }
}


.audit__content-link1 {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #050103;
  width: 207.11px;
  height: 65px;
  background: linear-gradient(273.47deg, #F2B720 -1.55%, #FADD49 103.02%);
  border-radius: 10px;
  border: 2px solid transparent;
  padding-top: 15px;
  padding-left: 20px;
}

.audit__content-link1:hover {
  filter: drop-shadow(-2px -2px 5px rgba(255, 255, 255, 0.25)) drop-shadow(2px 2px 5px rgba(157, 132, 3, 0.3));
  border-radius: 10px;
  background: #ffffff;
}


.audit__animation {
  margin: 0 auto;
}

.audit__block__title_1 {
  position: relative;
  width: 300px;
  max-height: 60px;
  top: 10px;
  left: 524px;
  font-weight: 600;
  font-size: 21px;
  line-height: 12px;
  text-align: center;
  color: #FAFAFA;
}

.audit__block__title_2 {
  position: relative;
  width: 350px;
  max-height: 100px;
  top: 150px;
  left: 87px;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #FAFAFA;
}

.audit__block__title_3 {
  position: relative;
  width: 250px;
  max-height: 300px;
  top: 287px;
  left: -40px;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #FAFAFA;
}

.audit__block__info_1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  color: #FFD752;
}

.audit__block__info_2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  color: #FAFAFA;
}


.wrapper1 {
  position: relative;
  top: 305px;
  left: 129px;
}

.wrapper3 {
  position: relative;
  top: 519px;
  left: -6px;
}

.wrapper2 {
  position: relative;
  top: 391px;
  left: 179px;
}

.wrapper4 {
  position: relative;
  top: 604px;
  left: 45px;
}

.wrapper5 {
  position: relative;
  top: 100px;
  left: 546px;
}

.wrapper6 {
  position: relative;
  top: -81px;
  left: -249px;
}

.content__line_mod-small {
  position: relative;
  top: 120px;
  left: 757px;
}

.content__line {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #F2B720;
  //transform: rotate(145deg);
  //bottom: 54%;
  animation: mov-mon3 3s ease-in-out infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: mov-mon3;
}

.content__line-small {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #F2B720;
  //transform: rotate(145deg);
  //bottom: 54%;
  animation: mov-mon4 3s ease-in-out infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: mov-mon4;
}

.content__line_mod {
  position: absolute;
  content: "";
  //height: 2px;
  width: 2px;
  background-color: #F2B720;
  transform: rotate(-30deg);

  //bottom: 54%;
  animation: mov-mon1 3s ease-in-out infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: mov-mon1;
  transform-origin: top;
}

.content__line_mod-small {
  position: absolute;
  content: "";
  //height: 2px;
  width: 2px;
  background-color: #F2B720;
  transform: rotate(-30deg);

  //bottom: 54%;
  animation: mov-mon5 3s ease-in-out infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: mov-mon5;
  transform-origin: top;
}

@keyframes mov-mon3 {
  0% {
    width: 0;
  }
  100% {
    width: 390px;
  }
}

@keyframes mov-mon4 {
  0% {
    width: 0;
  }
  100% {
    width: 290px;
  }
}

@keyframes mov-mon1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

@keyframes mov-mon5 {
  0% {
    height: 0;
  }
  100% {
    height: 70px;
  }
}


@media (max-width: 1600px) {
  .wrapper1 {
    position: relative;
    top: 305px;
    left: 129px;
  }

  .wrapper3 {
    position: relative;
    top: 519px;
    left: -6px;
  }

  .wrapper2 {
    position: relative;
    top: 391px;
    left: 179px;
  }

  .wrapper4 {
    position: relative;
    top: 604px;
    left: 45px;
  }

  .wrapper5 {
    position: relative;
    top: 100px;
    left: 485px;
  }

  .wrapper6 {
    position: relative;
    top: -81px;
    left: -309px;
  }
  .audit__block__title_1 {
    left: 450px;
  }
  .audit__block__title_2 {

  }
  .audit__block__title_3 {

  }

  .content__line_1600 {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #F2B720;
    //transform: rotate(145deg);
    //bottom: 54%;
    animation: mov-mon3_1600 3s ease-in-out infinite;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: mov-mon3_1600;
  }
  .content__line_1600 {
    display: inline-block;
  }

  @keyframes mov-mon3_1600 {
    0% {
      width: 0;
    }
    100% {
      width: 190px;
    }
  }
}

.audit__content-way {
  width: 100px;
}

@media (max-width: 1200px) {
  .audit__animation {
    display: none;
  }
}

@media (max-width: 600px) {
  .audit__content {
    max-width: 360px;
    height: 260px;
    padding: 18px;
    right: 137px;
  }
  .audit__content-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 20px;
  }
  .audit__wrapper {
    padding-left: 49px;
    margin-left: 10px;
  }
  .audit__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  .audit__content-link1 {
    height: 29px;
    width: 127px;
    font-weight: 600;
    font-size: 12px;
    line-height: 9px;
    padding-top: 9px;
  }
}

@media (max-width: 375px) {
  .audit__content {
    //display: none;
    //height: 733px;
    top: 163px;
    left: -71px;
  }
  .audit {
    //display: block;
    height: 395px;
    background: url('../img/audit/mount_block.jpg') no-repeat center;
    background-size: 100% auto;
  }
  .wrapper1 {
    display: none;
  }
  .wrapper2 {
    display: none;
  }
  .wrapper3 {
    display: none;
  }
  .audit__content-title {
    padding-left: 0;
  }
  .audit__content-title {
    margin-bottom: 12px;
  }
  .audit__content-text {
    margin-bottom: 12px;
  }
  .audit__content-link1 {
    margin-left: 11px;
    padding-top: 9px;
  }
  .audit__content-title {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
  }
  .audit__content-text {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
  }
  .audit__content {
    width: 277px;
    height: 177px;
    top: 197px;
    left: 18px;
  }
  .audit__content-link1 {
    font-weight: 600;
    font-size: 8px;
    line-height: 9px;
    width: 100px;
  }
}