//.audit
.audit {
  overflow: hidden;
  position: relative;
  max-height: 1086px;
  background: url('../img/audit/audit-mountain_block.jpg')no-repeat left;
  //background-image: url('../img/audit/mountain_infographics.jpg');
  //background-position: 0 0;
  //background-repeat: no-repeat;
  //background-size: auto 100%;
  //width: auto;
  //.audit__way
  &__way {
    position: absolute;
    left: -216px;
    bottom: 138px;
    z-index: 3;
  }
  //.audit__wrapper
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 1086px;
    margin-left: 100px;
  }
  //.audit__block
  &__block {
    position: absolute;
    //background: url('../img/audit/audit-elipse.png')no-repeat bottom right;
    //.audit__block-title
    &-title {
      font-weight: 600;
      font-size: 21px;
      line-height: 25px;
      color: #FAFAFA;
      //.audit__block-title--yellow
      &--yellow {
        font-family: $secondary-family;
        font-weight: 700;
        font-size: 35px;
        line-height: 150%;
        color: #FFD752;
        padding-right: 10px;
      }
    }
    //.audit__block--top
    &--top {
      top: 43px;
      left: 443px;
      width: 358px;
      height: 82px;
      text-align: center;
      padding-right: 94px;
      & .audit__block-title {
        max-width: 264px;
      }
    }
    //.audit__block--middle
    &--middle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 198px;
      left: 22px;
      width: 540px;
      height: 205px;
      & .audit__block-title {
        max-width: 366px;
      }
    }
    //.audit__block--bottom
    &--bottom {
      width: 552px;
      height: 211px;
      left: -101px;
      top: 411px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    //.audot__block-img
    &-img {
      width: 432px;
      height: 93px;
      margin-left: 22px;
      margin-bottom: 21px;
    }
  }
  //.audit__content
  &__content {
    padding: 40px 53px 264px 50px;
    background: rgba(5, 1, 3, 0.8);
    border-radius: 10px;
    max-width: 786px;
    margin-bottom: 85px;
    position: relative;
    z-index: 5;
    //.about__content-title
    &-title {
      font-weight: 600;
      font-size: 35px;
      line-height: 41px;
      color: #FAFAFA;
      margin-bottom: 30px;
      //.about__content-title--yellow
      &--yellow {
        color: #FFD752;
      }
    }
    //.audit__content-text
    &-text {
      color: #FAFAFA;
      margin-bottom: 32px;
    }
    //.audit__content-link
    &-link {
      padding: 18px 27.5px;
      max-width: 217px;
      background:
        linear-gradient(73.47deg, #FADD49 -1.55%, #F2B720 103.02%)padding-box,
        linear-gradient(to left, #FFE145, #F6BB24) border-box;
      border-radius: 10px;
      border: 2px solid transparent;
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      //.audit__content-link:hover
      &:hover {
        filter: drop-shadow(-2px -2px 5px rgba(255, 255, 255, 0.25)) drop-shadow(2px 2px 5px rgba(157, 132, 3, 0.3));
        background:
          linear-gradient(93.88deg, #FFFFFF -12.68%, #ffffff 123.69%)padding-box,
          linear-gradient(to left, #FFE145, #F6BB24) border-box;
      }
    }
  }
}


.audit__block__title_1 {
  position: relative;
  width: 300px;
  max-height: 60px;
  top: 20px;
  left: 719px;
  font-weight: 600;
  font-size: 21px;
  line-height: 12px;
  text-align: center;
  color: #FAFAFA;
}

.audit__block__title_2 {
  position: relative;
  width: 350px;
  max-height: 100px;
  top: 148px;
  left: 300px;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #FAFAFA;
}

.audit__block__title_3 {
  position: relative;
  width: 250px;
  max-height: 300px;
  top: 287px;
  left: 177px;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #FAFAFA;
}

.audit__block__info_1 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 150%;
  text-align: center;
  color: #FFD752;
}



.wrapper1 {
  position: relative;
  top: 290px;
  left: 345px;
}

.wrapper3 {
  position: relative;
  top: 510px;
  left: 223px;
}

.wrapper2 {
  position: relative;
  top: 383px;
  left: 400px;
}

.wrapper4 {
  position: relative;
  top: 600px;
  left: 274px;
}

.wrapper5 {
  position: relative;
  top: 120px;
  left: 750px;
}

.wrapper6 {
  position: relative;
  top: -64px;
  left: -45px;
}

.content__line_mod-small {
  position: relative;
  top: 120px;
  left: 757px;
}

.content__line {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #F2B720;
  //transform: rotate(145deg);
  //bottom: 54%;
  animation: mov-mon3 3s ease-in-out infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: mov-mon3;
}

.content__line-small {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #F2B720;
  //transform: rotate(145deg);
  //bottom: 54%;
  animation: mov-mon4 3s ease-in-out infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: mov-mon4;
}

.content__line_mod {
  position: absolute;
  content: "";
  //height: 2px;
  width: 2px;
  background-color: #F2B720;
  transform: rotate(-30deg);

  //bottom: 54%;
  animation: mov-mon1 3s ease-in-out infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: mov-mon1;
  transform-origin: top;
}

.content__line_mod-small {
  position: absolute;
  content: "";
  //height: 2px;
  width: 2px;
  background-color: #F2B720;
  transform: rotate(-30deg);

  //bottom: 54%;
  animation: mov-mon5 3s ease-in-out infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: mov-mon5;
  transform-origin: top;
}

@keyframes mov-mon3 {
  0%{
    width: 0;
  }
  100%{
    width: 390px;
  }
}

@keyframes mov-mon4 {
  0%{
    width: 0;
  }
  100%{
    width: 290px;
  }
}

@keyframes mov-mon1 {
  0%{
    height: 0;
  }
  100%{
    height: 100px;
  }
}

@keyframes mov-mon5 {
  0%{
    height: 0;
  }
  100%{
    height: 70px;
  }
}





.audit__content-way {
  width: 100px;
}

@media (max-width: 375px) {
  .audit__content {
    display: none;
    //height: 733px;
  }
  .audit {
    //display: block;
    height: 395px;
    background: url('../img/audit/mount_block.jpg')no-repeat center;
    background-size: 100% auto;
  }
  .wrapper1 {
    display: none;
  }
  .wrapper2 {
    display: none;
  }
  .wrapper3 {
    display: none;
  }
}