//.cta
.cta {
  padding: 130px 0 104px 0;
  background: url('../img/cta/cta-bg.jpg')no-repeat center;
  //.cta__wrapper
  &__wrapper {
    max-width: 736px;
  }
  //.cta__title
  &__title {
    margin-bottom: 45px;
  }
  //.cta__subtitle
  &__subtitle {
    display: block;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 48px;
  }
  //.cta__form
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 99px;
    //.cta__form-inputs
    &-inputs {
      margin-bottom: 70px;
    }
    //.cta__form-input
    &-input {
      width: 100%;
      padding: 21px 28px;
      font-size: 21px;
      line-height: 25px;
      background:
        linear-gradient(273.47deg, #fafafa -1.55%, #fafafa 103.02%)padding-box,
        linear-gradient(to left, #FFED8E, #DBBA13) border-box;
      box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.5), 4px 4px 8px rgba(190, 151, 20, 0.5);
      border-radius: 10px;
      border: 2px solid transparent;
      &:first-child {
        margin-bottom: 34px;
      }
    }
    //.cta__form-check
    &-check {
      width: 25px;
      height: 25px;
      margin-right: 12px;
    }
    //.cta__form-bottom
    &-bottom {
      display: flex;
    }
    //.cta__form-span
    &-span {
      display: block;
      font-size: 21px;
      line-height: 25px;
      max-width: 287px;
      margin-right: 90px;
    }
  }
  //.cta__text
  &__text {
    display: block;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    text-align: right;
  }
  //.cta__tel
  &__tel {
    font-family: $secondary-family;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: right;
  }
}

.cta__text-mob {
  display: none;
}







input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"] + label {
  background: url('../img/cta/cta-checkbox_1.png') 0 0 no-repeat;
  padding-left: 39px;
}
input[type="checkbox"]:checked + label {
  background: url('../img/cta/cta-checkbox_2.png') 0 0 no-repeat;
  //background-position: 0 -32px;
  padding-left: 39px;

}

.cta__form-bottom {
  display: flex;
  justify-content: space-between;
}

///
.cta__form-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #FAFAFA;
  height: 65px;
  width: 330px;
  padding: 18px 10px 5px 33px;
}






.cta__form-check {
  //display: none;
  //box-shadow: -4px -4px 8px rgb(255 255 255 / 50%), 4px 4px 8px rgb(190 151 20 / 50%);
}

.cta__form-check[type=checkbox]:checked {
  color: red;
}

@media (max-width: 600px) {
  .cta__text {
    font-size: 16px;
  }
  .cta__tel {
    font-size: 18px;
  }
}

@media (max-width: 475px) {
  .cta {
    padding-bottom: 23px;
  }
  .cta__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 13px;
  }
  .cta__subtitle {
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }

  .cta {
    //background: url('../img/cta/cta-bg-mob.jpg')no-repeat center;
    background: #ffd751;
    padding-top: 23px;
  }
  .cta__form-inputs {
    margin-left: 30px;
  }
  .cta__form-input {
    height: 43px;
    width: 277px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    padding-left: 15px;
  }
  .cta__form-input:first-child {
    margin-bottom: 13px;
  }
  .cta__subtitle {
    display: block;
    margin-bottom: 27px;
    width: 300px;
  }
  .cta__form-button {
    height: 33px;
    width: 165px;
  }
  .cta__form-button {
    margin-left: 86px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FAFAFA;
  }
  .cta__form {
    margin-bottom: 0;
  }
  .cta__form-inputs {
    margin-bottom: 12px;
  }
  .cta__form-button {
    padding: 0;
  }
  .cta__text-mob {
    display: block;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    color: #050103;
    padding-left: 30px;
  }
  .cta__form-bottom {
    display: flex;
    flex-direction: column;
  }
  .cta__form-button {
    margin-top: 30px;
  }
  .cta__subtitle {
    padding-left: 38px;
  }
  .cta__form-bottom label {
    display: none;
  }
}

