//.footer
.footer {
  padding: 100px 0 70px 0;
  //.footer__wrapper
  &__wrapper {
    display: flex;
    height: 208px;
  }
  //.footer__left
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 279px;
    margin-right: 106px;
  }
  //.footer__nav
  &__nav {
    display: flex;
    margin-right: 125px;
  }
  //.footer__list
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:first-child {
      padding-right: 75px;
      border-right: 2px solid #FFD752;
      margin-right: 75px;
    }
  }
  //.footer__item
  &__item {

  }
  //.footer__link
  &__link {
    font-weight: 600;
    line-height: 150%;
  }
  //.footer__right
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 532px;
    width: 100%;
    //.footer__right-top
    &-top {
      display: flex;
      justify-content: space-between;
    }
  }
  //.footer__contacts
  &__contacts {
    display: flex;
    flex-direction: column;
    //.footer__contacts-tel
    &-tel {
      font-family: $secondary-family;
      font-weight: 700;
      font-size: 25px;
      line-height: 150%;
      margin-bottom: 15px;
    }
    //.footer__contacts-time
    &-time {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 15px;
    }
    //.footer__contacts-mail
    &-mail {
      font-weight: 600;
      line-height: 150%;
    }
  }
}
//.policy
.policy {
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
//.copyright
.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  //.copyright svg
  & svg {
    margin-right: 13px;
  }
}

@media (max-width: 1600px) {
  .footer__right-top {
    flex-direction: column-reverse;
  }
  .footer__nav {
    display: none;
  }
}

@media (max-width: 375px) {
  .footer {
    display: none;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer__left {
    margin: 0;

  }
  .footer__left svg {
    height: 30px;
    padding-left: 40px;
  }
  .policy {
    display: none;
  }
  .footer__right {
    display: none;
  }
}