//.header
.header {
  background: #fff;
  @media (max-width: 1600px) {
    position: relative;
    z-index: 5;
    border-bottom: 2px solid #050103;
  }
  // .header__top
  &__top {
    border-bottom: 2px solid #050103;
    @media (max-width: 1600px) {
      padding: 12px 0 6px 0;
      border-bottom: none;
    }

    & .header__wrapper {
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1600px) {
        justify-content: flex-end;
      }
    }
  }

  //.header__tel
  &__tel {
    font-family: $secondary-family;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    @media (max-width: 1600px) {
      display: none;
    }
    //.header__tel--mobile
    &--mobile {
      display: none;
      @media (max-width: 1600px) {
        display: block;
      }
    }
  }

  //.header__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
  }

  //.header__bottom
  &__bottom {
    & .header__wrapper {
      padding: 24.5px 0 21px 0;
      @media (max-width: 1600px) {
        justify-content: space-between;
      }
      @media (max-width: 375px) {
        padding: 10px 0 10px 0;
      }
    }
  }

  //.header__button
  &__button {
    @media (max-width: 1600px) {
      display: none;
    }
  }
}

//.about
.about {
  // .about__list
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 289px;
    @media (max-width: 1600px) {
      display: none;
    }
  }
}

//.adress
.adress {
  //.adress__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 631px;
    @media (max-width: 1600px) {
      justify-content: flex-end;
    }
  }

  //.adress__item
  &__item {
    //.adress__item--strong
    &--strong {
      font-weight: 600;
      line-height: 150%;
      color: #000000;
      @media (max-width: 1600px) {
        font-weight: 400;
      }
    }

    //.adress__item:firs-child
    &:first-child {
      @media (max-width: 1600px) {
        display: none;
      }
    }
  }
}

//.logo
.logo {
  margin-right: 38px;
}

//.location
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 150%;
  font-weight: 600;
  margin-right: 146px;

  //.location svg
  & svg {
    margin-right: 4px;
  }

  @media (max-width: 1600px) {
    display: none;
  }
}

//.nav
.nav {
  max-width: 978px;
  width: 100%;
  display: flex;
  align-items: center;
  //.nav__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 1600px) {
      justify-content: center;
      gap: 8px 15px;
      flex-wrap: wrap;
    }
  }

  //.nav__link
  &__link {
    font-weight: 600;
    line-height: 150%;
  }

  //.nav__burger
  &__burger {
    position: absolute;
    top: -177px;
    left: 0;
    display: none;
    background: #fff;
    padding: 12px 0;
    z-index: 1;
    transform-origin: top;
    transform: translateY(60.5px);
    border-bottom: 2px solid #000;
    transition: all 0.5s linear;
    //.nav__burger--active
    &--active {
      top: 90px;
    }

    @media (max-width: 1600px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 1600px) {
    display: none;
  }
}

//.burger
.burger {
  display: none;
  width: 25px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  //.burger__line
  &__line {
    width: 100%;
    height: 2px;
    background: $black-color;
  }

  //.burger:hover
  &:hover {
    .burger__line {
      background: #F2B720;
    }
  }

  @media (max-width: 1600px) {
    display: flex;
  }
}

.nav__link {
  position: relative;
  z-index: 100;
}

.nav__link:hover:before {
  position: absolute;
  top: 15px;
  right: 0;
  background: #FFD752;
  content: '';
  height: 17px;
  width: 70%;
  z-index: -10;

}

.about__item:hover {
  text-decoration: underline;
}

.location:hover {
  text-decoration: underline;
}

.adress__item--hover:hover {
  text-decoration: underline;
}

//.header__wrapper {
//  padding-bottom: 21px;
//}

.header__button {
  outline: 10px;
  outline-offset: 0;
}

.modal__wrapper {
  display: none;
}

@media (max-width: 375px) {
  .nav__burger {
    //top: -150px;
    //transform: translateY(210.5px);
  }
  .hero__item .hero__item-text {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  .hero__name {
    font-weight: 500;
    font-size: 8px;
    line-height: 140%;
    text-align: right;
    color: #050103;
  }
  .hero__name--strong {
    font-weight: 700;
    font-size: 8px;
    line-height: 140%;
    text-align: right;
    color: #050103;
  }
  .hero__list {
    width: 142px;
  }
  .header__tel--mobile {
    padding-bottom: 7px;
  }
  .nav__burger--active {
    top: 50px
  }
  .nav__burger {
    height: 56px;
  }
  .nav__burger--active {
    top: 15px;
  }
}