.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  align-items: center;
  justify-content: center;
  background: #FAFAFA;
  height: 764px;
  width: 1000px;
  transform: translate(-50%, -50%);
}

.modal__wrapper {
  display: flex;
  align-items: center;
  //justify-content: center;
  flex-direction: column;
  text-align: center;
}

.modal__header {
  display: inline-block;
  //width: 100px;
  text-align: center;
  //height: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  margin-top: 80px;
}


.modal__header {
  position: relative;
  z-index: 100;
}

.modal__header:before {
  position: absolute;
  top: 23px;
  right: -37px;
  background: #FFD752;
  content: '';
  height: 27px;
  width: 97%;
  z-index: -10;
}


.modal__title {
  display: block;
  width: 530px;
  //height: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  margin-top: 38px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 736px;
  margin-top: 45px;
}

.modal__input {
  outline: 0;
  width: 736px;
  height: 70px;
  //background: #FAFAFA;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.5), 4px 4px 8px rgba(190, 151, 20, 0.5);
  border-radius: 10px;
  //border-color: #FFD752;
  margin-bottom: 30px;
  border: 2px solid transparent;
}

.modal__wrapper__title {
  //display: flex;
}

.modal__button__wrapper {
  text-align: center;
  display: block;
  margin-top: 27px;
}

input[type=checkbox] + label {
  background: url(../img/cta/cta-checkbox_1.png) no-repeat;
  padding-left: 45px;
  padding-top: 45px;
  cursor: pointer;
}

.modal__checkbox {
  padding: 40px;
  margin: 40px;
  height: 100px;
}

input[type=checkbox]:checked + label {
  height: 45px;
  width: 45px;
}

.modal__button--shadow {
  border-radius: 5px;
  box-shadow: none;
  background-image: linear-gradient(#F6BB24, #FFE145), linear-gradient(2705deg, #FFE145, #F6BB24);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 2px solid transparent;
  cursor: pointer;
  width: 207px;
  height: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  padding-left: 2px;
  padding-right: 2px;
}

.modal__button--shadow:hover {
  box-shadow: 2px 1000px 1px #fff inset;
  filter: drop-shadow(-2px -2px 5px rgba(255, 255, 255, .25)) drop-shadow(2px 2px 5px rgba(157, 132, 3, .3));
}


.modal__button {
  padding-top: 2px;
  padding-left: 10px;
}

.lab {
  display: block;
  width: 20px;
}

.modal__checkbox_wrapper {
  display: flex;
  margin-left: 75px;
}

.test {
  display: block;
  width: 550px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  padding-top: 6px;
  text-align: left;
}

@media (max-width: 1200px) {

  .modal-content {
    height: 620px;
    width: 800px;
  }
  .modal__header {
    font-size: 30px;
    margin-top: 40px;
  }
  .modal__title {
    font-size: 16px;
    margin-top: 25px;
  }
  .modal__input {
    width: 620px;
    height: 50px;
  }
  .cta__form-input {
    font-size: 14px;
  }
  .modal__wrapper {
    margin-left: 80px;
  }
}

.test--mob {
  display: none;
}

@media (max-width: 900px) {
  .modal-content {
    height: 400px;
    width: 500px;

  }
  .modal__wrapper {
    margin-left: 0;
  }
  .modal__header {
    margin-top: 15px;
    font-size: 24px;
  }
  .modal__title {
    font-size: 12px;
    width: 300px;
    line-height: 20px;
    margin-top: 15px;
  }
  .modal__header:before {
    height: 15px;
  }
  .modal__input {
    width: 350px;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 10px;
    padding-left: 15px;
  }
  .cta__form-input:first-child {
    margin-bottom: 10px;
  }
  .modal__form {
    width: 350px;
    margin-top: 7px;
  }
  .cta__form-input {
    margin-bottom: 10px;
  }
  .test {
    font-size: 12px;
    line-height: 15px;
  }
  .modal__button__wrapper {
    margin-top: 15px;
  }
  .modal__button--shadow {
    width: 165px;
    height: 55px;
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .modal__header {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
  .modal__title {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
  }
  .modal__form {
    width: 234px;
    margin-top: 18px;
  }
  .cta__form-input {
    width: 234px;
    height: 30px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    padding-top: 10px;
    padding-bottom: 11px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .modal__title {
    margin-top: 20px;
    width: 200px;
  }
  input[type=checkbox] + label {
    display: none;
  }
  .modal__checkbox_wrapper {
    margin-left: 0;
  }
  .test {
    display: none;
  }
  .test--mob {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    text-align: left;
    width: 163px;
    padding-top: 3px;
    padding-left: 23px;
  }
  .modal__button {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    width: 140px;
    height: 34px;
    border-radius: 5px;
  }
  .modal__wrapper {
    margin: 0 auto;

  }
  .modal-content {
    width: 277px;
    height: 375px;
  }
  .modal__header {
    margin-top: 30px;
  }
  .modal__header:before {
    top: 13px;
    right: -2px;
    height: 13px;
    width: 68%;
  }
  .modal__button__wrapper {
    //padding-top: 20px;
  }
  .modal__button__wrapper {
    margin-top: 20px;
    //margin-left: 0;
  }
  .modal__button {
    margin-left: 0;
  }
  .modal__button--shadow {
    font-size: 11px;
    width: 140px;
    height: 34px;
  }
}


//div.modal-window_entry {display:none;}
//div.modal-window_entry.show-entry {display:block;}