//.reviews
.reviews {
  margin-top: 120px;
  //.reviews__wrapper
  &__wrapper {
    position: relative;
    max-width: 1417px;
    margin: 0 auto;
  }

  //.reviews__slider
  &__slider {
    display: flex;
    max-height: 570px;
    //.reviews__slider-arrows
    &-arrows {
      position: absolute;
      right: 0;
      bottom: 147px;
      display: flex;
      gap: 50px;
    }

    //.reviews__slider-prev, .reviews__slider-next
    &-prev, &-next {
      padding: 6.5px 3px;
      cursor: pointer;
    }

    &-prev:hover, &-next:hover {
      fill: #FFD752;
    }
  }

  //.reviews__slide
  &__slide {
    //.reviews__slide-wrapper
    &-wrapper {
      display: flex;
    }

    //.reviews__slide-right
    &-right {
      margin-left: 139px;
      //margin-right: 80px;
      max-width: 557px;
    }

    //.reviews__slide-title
    &-title {
      margin-top: 53px;
      font-weight: 600;
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 60px;
    }

    //.reviews__slide-subtitle
    &-subtitle {
      display: block;
      font-weight: 600;
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 30px;
    }

    //.reviews__slide-text
    &-text {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 17px;
    }

    &-link {
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      padding: 7.5px 10px;
      max-width: 217px;
      background: #FFD752;
    }
  }
}

.slider-line {
  height: 570px;
  width: 1417px;
}

.slider {
  max-width: 1417px;
  height: 570px;
  //border: 2px solid black;
  margin: 30px auto;
  overflow: hidden;
}

.slider-line {
  display: flex;
  height: 570px;
  //width: 4251px;
  //background: orange;
  //position: relative;
  //left: 0;
  transition: all ease 1s;
}

.reviews__slider-arrows {
  bottom: 103px;
  right: -46px;
}

.reviews__slide-text--mob {
  display: none;
}

@media (max-width: 1600px) {
  .reviews__slide-right {
    margin-left: 20px;
  }
}

@media (max-width: 1500px) {
  .reviews__slider-arrows {
    right: 0;
  }
}

@media (max-width: 1200px) {
  .reviews__slide-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reviews__slide-img {
    width: 100%;
    height: auto;
    vertical-align: middle
  }
  .reviews__slide-right {
    width: 61%;
  }
  .reviews__slider-arrows {
    right: 30px;
  }
}

@media (max-width: 1200px) {
  .reviews__slide-title {
    font-size: 50px;
  }
  .reviews__slide-text {
    font-size: 17px;
  }
}

@media (max-width: 960px) {
  .reviews__slide-right {
    font-size: 40px;
  }
  .reviews__slide-subtitle {
    font-size: 17px;
  }
  .reviews__slide-text {
    font-size: 14px;
  }
  .reviews__slide-right {
    width: 80%;
  }
  .reviews__slider-arrows {
    bottom: 75px;
  }
}

.reviews__slide-link:hover {
  background-color: white;
  border: 1px solid #ffd752;
}

@media (max-width: 900px) {
  .reviews__slider-arrows {
    bottom: 45px;
    left: 100px;
  }
}

@media (max-width: 375px) {
  .reviews {
    background: #FAFAFA;
  }
  .slider {
    margin-bottom: 0px;
  }
  .reviews__slide-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
  .reviews__slide-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
  }
  .reviews__slide-text {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  .reviews__slide-link {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
  }
  .reviews__slide-left {
    width: 39%;
  }
  .reviews__slide-link {
    width: 90px;
    padding: 8px;
  }
  .reviews {
    margin-top: 0px;
  }
  .reviews__wrapper {
    height: 500px;
  }
  .slider {
    margin-top: 0;
  }
  .reviews__slide-title {
    text-align: left;
  }
  .reviews__slide-right {
    margin-left: 0;
  }
  .reviews__slide-img {
    margin-left: 0;
    padding-top: 53px;
  }
  .reviews__slide-title {
    margin-bottom: 28px;
    margin-top: 5px;
    padding-left: 0;
  }
  .reviews__slide-subtitle {
    padding-left: 17px;
  }
  .reviews__slide-text {
    padding-left: 17px;
  }
  .reviews__slide-subtitle {
    margin-bottom: 17px;
    max-width: 160px;
  }
  .reviews__slide-text {
    margin-bottom: 11px;
    max-width: 180px;
  }
  .reviews__wrapper {
    height: 240px;
  }
  .slider {
    height: 240px;
  }
  .slider-line {
    height: 240px;
  }
  .reviews__slider-prev svg {
    height: 8px;
  }
  .reviews__slider-next svg {
    height: 8px;
  }
  .reviews__slide-link {
    margin-left: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .reviews__slider-arrows {
    bottom: 28px;
    //right: -9px;
    gap: 0px;
    left: 286px;
  }
  .reviews__slider-prev {
    padding: 0;
  }
  .reviews__slider-next {
    padding: 0;
  }
  .audit__block__title_1 {
    display: none;
  }
  .audit__block__title_2 {
    display: none;
  }
  .audit__block__title_3 {
    display: none;
  }
  .line1 {
    display: none;
  }
  .line2 {
    display: none;
  }
  .line3 {
    display: none;
  }
  .reviews__slide-text {
    display: none;
  }
  .reviews__slide-text--mob {
    display: block;
  }
  .reviews__slide-right {
    width: 60%;
  }
}

