//.work
.work {
  padding: 90px 0 130px 0;
  background: url('../img/work/work-bg.jpg') no-repeat center / cover;
  max-width: 1920px;
  margin: 0 auto;
  //max-height: 889px;
  //z-index: 1;
  //.work__title
  &__title {
    margin-bottom: 65px;
  }

  //.work__list
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 537px;
    @media (max-width: 1600px) {
      gap: 88px 44px;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 auto;
      padding-left: 27px;
    }
  }

  //.work__item
  &__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url('../img/work/work-elipse1.png') no-repeat bottom left;
    width: max-content;
    max-height: 175px;
    max-width: 170px;
    //.work__item-title
    &-title {
      font-weight: 500;
      font-size: 25px;
      line-height: 29px;
      color: #050103;
      text-align: center;
      @media (max-width: 1600px) {

      }
    }

    //.work__item-img
    &-img {
      margin-bottom: 8px;
      @media (max-width: 1600px) {
        //width: 50px;
        //height: 50px;
      }
    }

    //.work__item1
    &1 {
      top: 0;
      left: 58px;
      //z-index: 2;
    }

    &2 {
      left: 172px;
      bottom: 10px;
    }

    &3 {
      left: 424px;
      top: -3px;
    }

    &4 {
      left: 550px;
      bottom: 10px;
    }

    &5 {
      right: 528px;
      top: -4px;
    }

    &6 {
      right: 412px;
      bottom: 10px;
    }

    &7 {
      right: 183px;
      top: -3px;
    }

    &8 {
      right: 35px;
      bottom: 10px;
    }

    @media (max-width: 1600px) {
      position: initial;
      background: none;
      width: 211px;
      height: 157px;
      justify-content: space-between;
      text-align: center;
      align-items: center;
    }
    .work__list {
      gap: 22px 44px;
    }
  }

  //.work__arrow
  &__arrow {
    position: absolute;
    //.work__arrow1
    &1 {
      left: 142px;
      bottom: 187px;
      z-index: 3;
      transform: rotate(360deg);
    }

    &2 {
      left: 288px;
      bottom: 188px;
    }

    &3 {
      left: 518px;
      bottom: 187px;
    }

    &4 {
      left: 680px;
      bottom: 186px;
    }

    &5 {
      right: 551px;
      bottom: 187px;
    }

    &6 {
      right: 366px;
      bottom: 187px;
    }

    &7 {
      right: 32px;
      bottom: 155px;
    }

    @media (max-width: 1600px) {
      display: none;
    }
  }
}



.work__item-title-bg {
  //z-index: 2;
}

.work__item1:hover {
  background-size: 165px 168px;
}
.work__item2:hover {
  background-size: 165px 168px;
}
.work__item3:hover {
  background-size: 165px 168px;
}
.work__item4:hover {
  background-size: 165px 168px;
}
.work__item5:hover {
  background-size: 165px 168px;
}
.work__item6:hover {
  background-size: 165px 168px;
}
.work__item7:hover {
   background-size: 165px 168px;
}
.work__item8:hover {
  background-size: 165px 168px;
}

.work__item-title {
  display: block;
  width: 223px;
}


@media (max-width: 1200px) {
  //.work__item-title--mod_open {
  //  display: none;
  //}
  //.work__item-title--mod_close {
  //  display: block;
  //}
  .work__item-title {
    font-size: 20px;
  }
  .work__list {
    gap: 40px 44px
  }
}

@media (max-width: 900px) {
  .work__list {
    height: auto;
  }
}

.work__item {
  min-height: 170px;
}

.work__arrow1-mob {
  display: none;
}
.work__arrow2-mob {
  display: none;
}
.work__arrow3-mob {
  display: none;
}
.work__arrow4-mob {
  display: none;
}
.work__arrow5-mob {
  display: none;
}
.work__arrow6-mob {
  display: none;
}
.work__arrow7-mob {
  display: none;
}

.work__item-title--mod_close {
  display: none;
}

@media (max-width: 375px) {
  .work__arrow1-mob {
    display: block;
  }
  .work__arrow2-mob {
    display: block;
  }
  .work__arrow3-mob {
    display: block;
  }
  .work__arrow4-mob {
    display: block;
  }
  .work__arrow5-mob {
    display: block;
  }
  .work__arrow6-mob {
    display: block;
  }
  .work__arrow7-mob {
    display: block;
  }
  .work {
    height: 498px;
    padding-top: 0px;
    background: url('../img/work/work-rectangle.jpg')no-repeat center;
    background-size: 100% auto;
  }
  .work__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
  }
  .work__item-title {
    font-weight: 500;
    font-size: 11px;
    padding-left: 0px;
    line-height: 13px;
  }
  .work__item-img {
    //max-height: 85px;
  }
  .work__item-img {
    height: 50px;
    width: 50px;
  }
  .work__list {
    gap: 48px 45px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 4px;
    height: 498px;
    //justify-content: flex-start;
  }
  .work__item {
    //justify-content: flex-start;
    max-height: 60px;
    max-width: 62px;
  }
  .work__title {
    text-align: center;
    padding-top: 20px;
  }
  .work__list {
    height: 400px;
    padding-bottom: 30px;
  }
  .work__item {
    min-height: 85px;
  }
  .work__arrow1-mob {
    position: absolute;
    top: 38px;
    left: 98px;
  }
  .work__arrow2-mob {
    position: absolute;
    top: 38px;
    left: 206px;
  }
  .work__arrow3-mob {
    position: absolute;
    top: 100px;
    left: 267px;
  }
  .work__arrow4-mob {
    position: absolute;
    top: 176px;
    left: 205px;
  }
  .work__arrow5-mob {
    position: absolute;
    top: 176px;
    left: 98px;
  }
  .work__arrow6-mob {
    position: absolute;
    top: 238px;
    left: 51px;
  }
  .work__arrow7-mob {
    position: absolute;
    top: 313px;
    left: 98px;
  }
  .work__item-title {
    width: 70px;
  }
  .work__item-title--mod_open {
    display: none;
  }
  .work__item-title--mod_close {
    display: inline;
  }
}